/*
* @Author: Lenovo
* @Date:   2018-08-09 11:30:28
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-09-14 17:45:39
*/

body,html{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* 顶部开始 */
header{
	width: 100%;
	height: 2.72rem;
	background: #0ecf98;
	position: fixed;
	top: 0;
	left: 0;
}
header .top{
	height: 0.73rem;
	width: 100%;
	/* background: red; */
}
header .top .one{
	height: 0.73rem;
	width: 0.9rem;
/* 	background: pink; */
	float: left;
	position: relative;
}
header .top .one img{
	height: 0.39rem;
	width: 0.21rem;
	position: absolute;
	left: 0.57rem;
	top: 0.2rem;
}
header .top .two{
	height: 0.73rem;
	width: 0.9rem;
/* 	background: pink; */
	float: left;
	margin-left: 4.5rem;
	position: relative;
}
header .top .two img{
	height: 0.44rem;
	width: 0.37rem;
	position: absolute;
	top: 0.16rem;
	left: 0.45rem;
}
header .top .three{
	height: 0.73rem;
	width: 0.9rem;
	margin-right: 0.1rem;
	float: right;
	position: relative;
}
header .top .three img{
	height: 0.44rem;
	width: 0.37rem;
	position: absolute;
	top: 0.2rem;

}
header .content {
	height: 2.05rem;
	width: 100%;
	/* background: green; */
}
header .content .left{
	height: 2.05rem;
	width: 2.25rem;
/* 	background: blue; */
	margin-left: 0.24rem;
	float: left;

}
header .content .left img{
	width: 1.43rem;
	height: 1.41rem;
	margin-top: 0.3rem;
	margin-left: 0.62rem;
}
header .content .right{
	width: 4.71rem;
	height: 2.05rem;
/* 	background: pink; */
	float: right;
	margin-right: 0.24rem;
}
header .content .right .title{
	width: 3.52rem;
	height: 0.47rem;
/* 	background: yellow; */

}
header .content .right .title h3{
	font-size: 0.3rem;
	color: white;
	text-align: left;
	line-height: 0.47rem;
	border-bottom: 0.01rem dotted #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
header .content .right .star{
	height: 0.45rem;
	width: 3.05rem;
	/* background: green; */
	font-size: 0.25rem;
	margin-top: 0.08rem;
}
header .content .right .man{
	height: 0.37rem;
	width: 3.85rem;
	/* background: red; */
	margin-top: 0.05rem;
} 
header .content .right .man .left1{
	height: 100%;
	width: 0.8rem;
	/* background: orange; */
}
header .content .right .man .left1 .box{
	height: 0.31rem;
	width: 0.73rem;
	background: white;
	border-radius: 0.15rem;
	float: left;
}
header .content .right .man .left1 .box p{
	font-size: 0.22rem;
	color:#ff0202;
	text-align: center;
	line-height: 0.31rem;

}
header .content .right .man .left1 .word{
	height: 100%;
	width: 2.96rem;
/* 	background: blue; */
	margin-left: 0.8rem;

}
header .content .right .man .left1 .word p{
	font-size: 0.2rem;
	color: white;
}



/* 内容开始 */
main{
	width: 100%;
	height: 10.31rem;
	margin-top: 2.72rem;
/* 	background: pink; */
	margin-bottom: 0.98rem;
	overflow: hidden;
}
main .list{
	width: 1.89rem;
	height: 7.43rem;
	background: #f7f7f7;
	float: left;
}
main .list ul li{
	height: 1.05rem;
	width: 100%;
/* 	border: 0.01rem solid red; */
}
main .list ul li:nth-child(2){
	background: #0ecf98;
	color: white;
}
main .list ul li .box .word{
	color: white;
}
main .list .box{
	height: 1.05rem;
	width: 100%;
/* 	background: red; */
}
main .list .box p{
	font-size: 0.3rem;
	color: #000;
	line-height: 1.05rem;
	margin-left: 0.2rem;
}
main .content{
	height:10.31rem;
	width: calc(100% - 1.89rem);
/* 	background: yellow; */
	float: left;
	/* overflow: scroll;
 */
}

main .content ul li{
	height: 2.16rem;
	width: 5.21rem;
	margin-left: 0.2rem;
	margin-top: 0.25rem;
	box-shadow: 0.02rem 0.02rem 0.1rem 0.05rem rgba(14, 207, 152, 0.5);
}
main .content ul li .box{
	height: 2.16rem;
	width: 5.21rem;
	overflow: hidden;
	position: relative;
}
main .content ul li .box .pic{
	height: 1.7rem;
	width: 1.7rem;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.23rem;
}
main .content ul li .box .pic img{
	height: 1.58rem;
	width: 1.58rem;
	margin-left: 0.06rem;
	margin-top: 0.06rem;
}
main .content ul li .box .right{
	width: 2.94rem;
	height: 1.9rem;
	margin-left: 2.1rem;
	margin-top: 0.13rem;

}
main .content ul li .box .right .title{
	height: 0.39rem;
	width: 2.79rem;
}
main .content ul li .box .right .title p{
	font-size: 0.3rem;
	color: #333;
}
main .content ul li .box .right .star{
	height: 0.39rem;
	width: 2rem;
	font-size: 0.25rem;
	border-bottom: 0.01rem dotted #808080;
}
main .content ul li .box .right .buy{
	height: 0.39rem;
	width: 2.79rem;
	margin-top: 0.05rem;
}
main .content ul li .box .right .buy p{
	font-size: 0.22rem;
	color: #808080;
}
main .content ul li .box .right .zhe{
	height: 0.39rem;
	width: 2.79rem;
	overflow: hidden;
	position: relative;
}
main .content ul li .box .right .zhe .left{
	height: 0.35rem;
	width: 0.7rem;
	float: left;
	font-size: 0.22rem;
	text-align: center;
	color: #ff0202;
	line-height: 0.35rem;
	border: 0.01rem solid #ff0202;
}
main .content ul li .box .right .zhe .left1{
	height: 0.35rem;
	width: 1rem;
	float: left;
	font-size: 0.22rem;
	color: #ff0202;
	margin-left: 0.1rem;
	text-align: center;
	line-height: 0.35rem;
}

main .content ul li .box .right .money{
	height: 0.39rem;
	width: 2.79rem;
	color: #ff0202;
	font-size: 0.28rem;
	margin-left: 0.1rem;
}
main .content ul li .box .right .money p{
	color: #ff0202;
	font-size: 0.28rem;
}
main .content ul li .box .right .add{
	height: 0.5rem;
	width: 0.5rem;
	background: #0ecf98;
	position: absolute;
	bottom: 0.05rem;
	right: 0.1rem;
	border-radius: 0.25rem;
	color: white;
	font-size: 0.6rem;
	text-align: center;
	line-height: 0.4rem;
}
main .content ul li .box .right .jian{
	height: 0.5rem;
	width: 0.5rem;
	background: #0ecf98;
	position: absolute;
	bottom: 0.05rem;
	right: 0.9rem;
	border-radius: 0.25rem;
	color: white;
	font-size: 0.6rem;
	text-align: center;
	line-height: 0.4rem;
}
main .content ul li .box .right .math{
	height: 0.5rem;
	width: 0.5rem;
	position: absolute;
	bottom: 0.05rem;
	right: 0.5rem;
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.5rem;
}



/* 底部开始 */
footer{
	height: 0.98rem;
	width: 100%;
	position: fixed;
	bottom: 0;
}
footer .box{
	height: 0.95rem;
	width: 6.71rem;
	background: white;
	margin: 0 auto;
	box-shadow: 0.02rem 0.02rem 0.1rem 0.05rem rgba(14, 207, 152, 0.5);
	overflow: hidden;
	position: relative;
}
footer .box .pic{
	height: 0.78rem;
	width: 0.78rem;
	border-radius: 0.39rem;
	margin-top: 0.08rem;
	margin-left: 0.2rem;
	float: left;
	position: relative;
}
footer .box .pic img{
	height: 0.59rem;
	width: 0.59rem;
	position: absolute;
	top: 0.09rem;
	left: 0.09rem;

}
footer .box .word{
	height: 0.8rem;
	width: 2.88rem;
	margin-left: 1.2rem;
	margin-top: 0.08rem;
}
footer .box .word .one{
	height: 0.4rem;
	width: 2.62rem;
}
footer .box .word .one p{
	font-size: 0.22rem;
	color: #FF0202;
	line-height: 0.4rem;
}
footer .box .word .one span{
	font-size: 0.34rem;
}
footer .box .end{
	height: 0.95rem;
	width: 2.07rem;
	background: #333333;
	float:right;
	position: absolute;
	top: 0;
	right: 0;
	background: #0ecf98;
	border-radius: 0.05rem;
}
footer .box .end p{
	font-size: 0.22rem;
	color: #fff;
	text-align: center;
	line-height: 0.95rem;
}

/* 遮罩开始 */
.all{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
}

/* 确认支付开始 */
.boxup{
	width: 5.5rem;
	height: 5.7rem;
	background: #0ecf98;
	position: fixed;
	top: 3.87rem;
	left: 1rem;
	z-index: 1;
	border-radius: 0.1rem;
}
.boxup .pic{
	height: 3.23rem;
	width: 100%;
	border-top-left-radius: 0.1rem;
	border-top-right-radius: 0.1rem;
	background: url('../img/firm price1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.boxup .title{
	height: 2.45rem;
	overflow: hidden;
}
.boxup .title .top{
	height: 0.74rem;
	width: 4.86rem;
	margin: 0 auto;
	margin-top: 0.1rem;
	font-size: 0.32rem;
	color: #000;
	line-height: 0.74rem;
}
.boxup .title .among{
	height: 0.74rem;
	width: 4.86rem;
	margin: 0 auto;
	overflow: hidden;
}
.boxup .title .among .one{
	height: 0.46rem;
	width: 0.46rem;
	background: #0ecf98;
	border-radius: 0.23rem;
	margin-left: 0.1rem;
	margin-top: 0.14rem;
	font-size: 0.48rem;
	color: #fff;
	text-align: center;
	line-height: 0.35rem;
	float: left;
	border: 0.01rem solid #fff;
}
.boxup .title .among .two{
	height: 0.46rem;
	width: 0.46rem;
	margin-top: 0.14rem;
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
	line-height: 0.46rem;
	float: left;
}
.boxup .title .among .three{
	height: 0.46rem;
	width: 0.46rem;
	background: #0ecf98;
	border-radius: 0.23rem;
	margin-top: 0.14rem;
	font-size: 0.48rem;
	color: #fff;
	text-align: center;
	line-height: 0.35rem;
	float: left;
	border: 0.01rem solid #fff;
}

.boxup .title .bottom{
	height: 0.74rem;
	width: 4.86rem;
	margin: 0 auto;
}
.boxup .title .bottom .left{
	height: 0.74rem;
	width: 2.16rem;
	margin-left: 0.1rem;
	float: left;
	font-size: 0.18rem;
	color: #fff;
	line-height: 0.74rem;
}
.boxup .title .bottom .left span{
	font-size: 0.38rem;
}
.boxup .title .bottom .right{
	height: 0.74rem;
	width: 2.16rem;
	background: white;
	margin-left: 0.1rem;
	border-radius: 0.37rem;
	float: right;
	font-size: 0.32rem;
	text-align: center;
	line-height: 0.74rem;
	color: #0ecf98;
}
.coverbox{
	display: none;
}